
*.qpf
*.qsf
*.db_info
*.cdb
*.hdb
*.qmsg
*.rdb
*.bpm
*.idb
*.ddb
*.logdb
*.qws
*.sci
*.kpt
*.html
*.hif
*.hier_info
*.ammdb
*.hsd
*.nvd
*.txt
*.dfp
*.tmw_info
*.tdb
*.sig
*.dpi
*.rpt
*.smsg
*.summary
*.jdi
*.done
simplified_sha256/incremental_db/README
*.hb_info
*.pin
*.rcfdb
*.sof
*.sld
*.bak
*.ini
simplified_sha256/simulation/modelsim/msim_transcript
*.qdb
*.qpg
*.qtl
simplified_sha256/simulation/modelsim/rtl_work/_vmake
simplified_sha256/simulation/modelsim/rtl_work/_info
*.sft
*.svo
*.xrf
*.do
*.tmp
*.flock
simplified_sha256/finalsummary.xlsx
simplified_sha256/simulation/modelsim/simplified_sha256_run_msim_rtl_verilog.do.bak1
simplified_sha256/simulation/modelsim/simplified_sha256_run_msim_rtl_verilog.do.bak2
simplified_sha256/simulation/modelsim/vsim.wlf
simplified_sha256/finalsummary.xlsx
